ion-content {
  --background: #f5f5f5;
}

ion-toolbar {
  --background: #d98bb3;
  --color: white;
}

ion-card {
  margin: 16px;
  border-radius: 14px;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
}

ion-button {
  margin-top: 20px;
  --background: #d98bb3;
}